<div class='iresize-messages'>
  {{#if messages}}
    <div>
      <a href='#' {{action 'clear'}}>Limpiar</a>
    </div>

    {{#each m in messages}}
      <div class='alert alert-success alert-small'>{{m}}</div>
    {{/each}}
  {{else}}
    No hay mensajes para mostrar.
  {{/if}}
</div>
