html, body {
  margin: 10px;
}

.iresize-dropzone {
  width: 300px;
  border: 3px dashed gray;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: gray;
}

.iresize-dropzone.hover {
  background-color: rgb(239, 255, 189);
}

.iresize-messages {
  position: fixed;
  bottom: 33px;
  padding: 10px;
  top: 50%;
  left: 10px;
  right: 10px;
  overflow: scroll;
  overflow-x: hidden;
}


.iresize-devtools {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.alert-small {
  padding: 7px;
  margin-bottom: 2px;
}
